.container {
  margin: 0 auto;
  height: 100%;
  width: 320px; }

@media screen and (max-width: 1000px) {
  .container {
    width: 90vw; } }

@media screen and (min-width: 1001px) {
  .container {
    width: 970px; } }

.nav {
  text-transform: uppercase; }
  @media screen and (min-width: 769px) {
    .nav {
      width: 90vw; } }
  @media screen and (min-width: 1001px) {
    .nav {
      width: 970px; } }
  .nav__link {
    padding: 5px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all; }
    .nav__link--action-order {
      font-size: 12px; }
    .nav__link:hover {
      color: #9fadc2; }
    @media screen and (min-width: 769px) {
      .nav__link {
        font-size: 12px; } }
  .nav__list {
    visibility: hidden;
    position: absolute;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    top: 0;
    right: -100%;
    background-color: #0075ff;
    padding-top: 100px;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
    @media screen and (min-width: 769px) {
      .nav__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        position: static;
        padding: 0;
        margin: 0;
        background-color: transparent; } }
  .nav__item {
    letter-spacing: 2px;
    margin-bottom: 27px; }
    .nav__item--to-order {
      margin-top: 37px; }
      @media screen and (min-width: 769px) {
        .nav__item--to-order {
          display: none; } }
      .nav__item--to-order--to-order:last-child {
        margin-top: 11px;
        border-bottom: 1px solid #fff;
        display: inline-block; }
    @media screen and (min-width: 769px) {
      .nav__item {
        text-align: center;
        padding: 7px 3px;
        margin: 0 10px 0 0; }
      .nav__item--active {
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid transparent;
        border-radius: 8px; } }
  .nav__toggler {
    position: absolute;
    opacity: 0; }
  .nav__span::after {
    content: "";
    top: -8px; }
  .nav__span::before {
    content: "";
    top: 8px; }
  .nav__span, .nav__span::before, .nav__span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .nav__toggler:checked ~ .nav__btn > .nav__span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .nav__toggler:checked ~ .nav__btn > .nav__span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  .nav__toggler:checked ~ .nav__btn > .nav__span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  .nav__toggler:checked ~ .nav__list {
    visibility: visible;
    right: 0; }
  .nav__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1; }
    @media screen and (min-width: 769px) {
      .nav__btn {
        display: none; } }

/*# sourceMappingURL=nav.css.map */
